* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: black;
    border-bottom: 4px solid #626462;
}

.encabezado h1 {
    background: linear-gradient(90deg, rgb(229, 234, 165), #f4d395);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* LOGO */
.logotipo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logotipo h1 {
    font-size: 22px;
    font-weight: 600;
}

/* NAV */
.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: linear-gradient(90deg, rgb(237, 219, 140), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav a:hover {
    color: #dfd78a;
}

/* ocultar checkbox */
#modoOscuroToggle {
    display: none;
}

/* modo claro */
.pagina {
    background: rgb(226, 225, 225);
    color: black;
    min-height: 100vh;
}

/* modo oscuro */
#modoOscuroToggle:checked~.pagina {
    background: #121212;
    color: white;
}

label[for="modoOscuroToggle"] {
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}

/* MODO OSCURO */
#modoOscuroToggle:checked~* {
    background: #121212;
    color: white;
}

.whatsapp-carrusel a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #bcd9d8, #dbe0e0, #d5d9ae);
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.whatsapp-carrusel img {
    width: 30px;
    height: 30px;
}

.whatsapp-carrusel a:hover {
    transform: scale(1.1);
}

.productos section:target {
    animation: resaltar 3s ease;
}

@keyframes resaltar {
    0% {
        background: #ecf192;
    }

    50% {
        background: #dff5d8;
    }

    100% {
        background: transparent;
    }
}



.imagencentral::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}
/* contenedor */
.menu-plantita {
    position: relative;
    z-index: 1000;
}

/* ocultar checkbox */
#toggleMenu {
    display: none;
}

/* MOSTRAR al hacer click */
#toggleMenu:checked+.btn-menu+.menu-opciones {
    display: block;
}

/* estilos links */
.menu-opciones a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
}

.menu-opciones a:hover {
    background: #cec5c5;
}

.icono {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

/* sección productos */

.productos {
    padding: 60px 10%;
    background: rgb(226, 225, 225);
}

.titulo-productos {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

/* contenedor */

.productos-contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* tarjeta */

.producto {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.producto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.productos h2 {
    margin: 0 0 25px 25px;
}

.producto p {
    padding: 7.5px 15px;
    font-size: 14px;
    color: #555;
}

.producto:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 15px 40px;
}

/* redes sociales */
.redes {
    display: flex;
    gap: 15px;
}

.redes img {
    transition: 0.3s;
    cursor: pointer;
}

/* efecto al pasar el mouse */
.redes img:hover {
    transform: scale(1.2);
}

.footer {
    background: black;
    color: white;
    padding: 40px 60px;
    border-top: 4px solid #626462;
}

/* contenedor */

.footer-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* redes a la derecha */
.footer-redes {
    align-self: center;
    margin-top: 10px;
}

/* info izquierda */

.footer-info img {
    margin-bottom: 10px;
}

.frase {
    font-size: 15px;
    margin-bottom: 6px;
    opacity: 0.9;
}

.copyright {
    font-size: 13px;
    opacity: 0.7;
}

/* redes derecha */


.footer-redes h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

/* iconos */

.redes {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.redes a {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.redes img {
    width: 22px;
}

/* animación */

.redes a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

html,
body {
    height: 100%;
}

.pagina {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* RESPONSIVO */
/* TABLET */

@media (max-width:1024px) {

    .encabezado {
        padding: 15px 20px;
    }

    .logotipo h1 {
        font-size: 20px;
    }

    .imagencentral {
        height: 60vh;
    }

    .imagencentraltexto h2 {
        font-size: 32px;
    }

    .slide img {
        width: 200px;
    }

}

/* CELULARES */
/* ========================= */
@media (max-width:768px) {

    .footer-contenedor {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-redes {
        text-align: center;
    }

    .redes {
        justify-content: center;
    }

}

@media (max-width: 768px) {
    .productos-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }

    .productos {
        padding: 40px 5%;
    }

    .titulo-productos {
        font-size: 26px;
    }

    .producto img {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        justify-content: space-between;
        align-items: normal;
    }

    .nav {
        flex-direction: row;
        margin-right: auto;
    }

    .menu-plantita {
        margin-left: auto;
        margin-bottom: center;
    }

    label[for="modoOscuroToggle"] {
        margin-left: auto;
        margin-right: 0;
    }

    .info {
        align-items: right;
    }

    /* IMAGEN CENTRAL */

    .imagencentral {
        height: 50vh;
        padding: 20px;

    }
}

@media (max-width:768px) {

    /* IMAGEN CENTRAL */

    .imagencentral {
        height: 50vh;
        padding: 20px;
    }

    .imagencentraltexto h2 {
        font-size: 26px;
    }

    /* CATALOGO */

    .catalogo {
        padding: 20px;
    }

    .slide img {
        width: 160px;
    }

    /* FOOTER */

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 15px;
    }

    .redes {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

}

/* ========================= */
/* CELULARES PEQUEÑOS */
/* ========================= */

@media (max-width:480px) {

    .imagencentraltexto h2 {
        font-size: 22px;
    }

    .slide img {
        width: 130px;
    }

}